<section class="dashboard-container">
  <app-dashboard-search-bar
    (searchChange)="onSearchChange($event)">
  </app-dashboard-search-bar>

  <h2 class="section-title">Your trending categories</h2>
  <app-trending-categories
    [categories]="trendingCategories"
    (categorySelected)="onCategorySelected($event)">
  </app-trending-categories>

  <h2>Video analyse</h2>
  <app-videos-table
    [paginated]="videosPaginated"
    (pageChange)="onPageChange($event)"
    (openVideo)="onOpenVideo($event)">
  </app-videos-table>


</section>
