@use '@angular/material' as mat;

:host, html, body, app-root, .main-sidenav-container {
  height: 100%;
}

:host {
  mat-toolbar {
    position: relative;
    z-index: 5;
  }

  mat-sidenav-container {
    height: calc(100vh - 64px);
  }

  .content {
    padding: 24px;
  }

  [data-toolbar] {
    @include mat.elevation(3);
  }
}

mat-sidenav-content.content {
  transition: margin-left 300ms ease;
}
