@use '@angular/material' as mat;

:host, html, body, app-root, .main-sidenav-container {
  height: 100%;
}

:host {
  mat-sidenav-container {
    height: 100vh;
  }

  .content {
    padding: 24px;
  }
}

mat-sidenav-content.content {
  transition: margin-left 300ms ease;
}

.chart-container {
  height: calc(100% - 100px);
  width: 100%;
}
