.chart-container {
  width: 600px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kpi-title {
  margin-bottom: 8px;
}

canvas {
  width: 100%;
  height: 100%;
}