<mat-card class="kpi-card" [class.first]=first() (click)="collapseDetails()">
  @if (first()) {
  <div class="first-position">#1</div>
  }

  @if (second()) {
  <div class="second-position">#2</div>
  }

  @if (third()) {
  <div class="third-position">#3</div>
  }
  <mat-card-header>
    <mat-card-title class="kpi-title">{{ video().title }}</mat-card-title>
    <mat-card-subtitle>{{ video().channel }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>

    <mat-chip class="sentiment-details" [class.positive]="video().score > 0.75"
      [class.neutral]="video().score > 0.25 && video().score <= 0.75" [class.negative]="video().score <= 0.25">

      <span [ngClass]="getSentimentClass(video().score)">
        {{ video().score | number : '1.2-2' }}
        {{ getSentimentLabel(video().score) }}
      </span>

    </mat-chip>
  </mat-card-actions>
</mat-card>