<mat-card class="kpi-card" [class.first-place]="first()" [ngClass]="'shadow-' + getSentimentClass(video().score)"
  (click)=" viewVideosDetails()">

  @if (first()) { <div class="rank-badge rank-1">#1</div> }
  @if (second()) { <div class="rank-badge rank-2">#2</div> }
  @if (third()) { <div class="rank-badge rank-3">#3</div> }

  <img mat-card-image [src]="handleThumbnail()" alt="Video thumbnail">

  <mat-card-content>
    <mat-card-title class="kpi-title">{{ video().title }}</mat-card-title>
    <mat-card-subtitle class="kpi-channel">{{ video().channel }}</mat-card-subtitle>
  </mat-card-content>

  <mat-card-actions>
    <div class="sentiment-pill" [ngClass]="getSentimentClass(video().score)">
      <span class="sentiment-value">{{ video().score | number : '1.2-2' }}</span>
      <span class="sentiment-label">{{ getSentimentLabel(video().score) }}</span>
    </div>
  </mat-card-actions>

</mat-card>