.kpi-card {
width: 18rem;
position: relative;
overflow: visible;
border-radius: 16px;
cursor: pointer;
transition: transform 0.3s ease, box-shadow 0.3s ease;
background-color: --mat-sys-surface;
margin-top: 2rem;
}

.first-place {
transform: scale(1.15);
z-index: 10;
margin-top: 0;
}

img[mat-card-image] {
border-top-left-radius: 16px;
border-top-right-radius: 16px;
height: 140px;
object-fit: cover;
width: 100%;
margin: 0;
}

mat-card-content {
padding: 1rem 1rem 0 1rem;
text-align: left;
}

.kpi-title {
font-size: 1rem;
font-weight: 700;
line-height: 1.2;
margin-bottom: 0.25rem;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
}

.kpi-channel {
font-size: 0.875rem;
color: #666;
}

.rank-badge {
position: absolute;
top: 10px;
left: 10px;
padding: 4px 12px;
border-radius: 8px;
font-weight: 900;
font-size: 1.1rem;
z-index: 2;
}

.rank-1 { background-color: #D1E7DD; color: #0f5132; }
.rank-2 { background-color: #f8f9fa; color: #666; }
.rank-3 { background-color: #fae3d0; color: #8C5A2B; }

mat-card-actions {
padding: 1rem;
display: flex;
justify-content: center;
}

.sentiment-pill {
width: 100%;
padding: 8px 16px;
border-radius: 12px;
display: flex;
justify-content: center;
align-items: center;
gap: 6px;
font-weight: bold;
font-size: 1rem;
}

.shadow-very-positive,
.shadow-positive {
  box-shadow: 0 10px 30px rgba(15, 81, 50, 0.4);
}

.shadow-neutral {
  box-shadow: 0 10px 30px rgba(133, 100, 4, 0.4);
}

.shadow-negative,
.shadow-very-negative {
  box-shadow: 0 10px 30px rgba(114, 28, 36, 0.4);
}