.sentiment-details {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.mat-mdc-card-actions {
  justify-content: center;
}

.mat-icon {
  vertical-align: middle;
  font-size: 1.25rem;
}

.positive {
  background-color: #b1f1b1 !important;
}

.very-positive {
  background-color: #7ef178 !important;
}

.very-negative {
  background-color: #f78c8c !important;
}

.positive-text {
  color: #01871c;
  font-weight: bold;
}

.neutral {
  background-color: #FFF3CD !important;
}

.neutral-text {
  color: #B38700;
  font-weight: bold;
}

.negative {
  color: #DD4046 !important;
}

.neutral {
  color: #F3BC24 !important;
}

.first {
  scale: 1.15;
}

.first-position {
  font-weight: bold;
  margin: 0.5rem auto;
  padding: 0.5rem;
  font-size: 1.25rem;
  background-color: #FFF3CD;
  color: #B38700;
  width: fit-content;
  border-radius: 8px;
}

.second-position {
  font-weight: bold;
  margin: 0.5rem auto;
  padding: 0.5rem;
  font-size: 1.25rem;
  background-color: lightgray;
  color: gray;
  width: fit-content;
  border-radius: 8px;
}

.third-position {
  font-weight: bold;
  margin: 0.5rem auto;
  padding: 0.5rem;
  font-size: 1.25rem;
  background-color: #F1E3D3;
  color: #8C5A2B;
  width: fit-content;
  border-radius: 8px;
}

.kpi-card {
  max-width: 25rem;
}

