<div class="sidenav-header">
  <button class="collapse-btn" (click)="toggleCollapsed()" aria-label="Toggle sidenav">
    <mat-icon>{{ isCollapsed() ? 'chevron_right' : 'chevron_left' }}</mat-icon>
  </button>
  <img [width]="60" [height]="60" src="logo.png" alt="App logo" />
</div>

<mat-nav-list [class.collapsed]="isCollapsed()">
  @for(item of menuItem(); track item.id) {
  <a mat-list-item [routerLink]="item.route" routerLinkActive #rla="routerLinkActive" [activated]="rla.isActive"
    [matTooltip]="isCollapsed() ? item.label : null" matTooltipPosition="right">
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span matListItemTitle [class.hidden]="isCollapsed()">{{ item.label }}</span>
  </a>
  }
  <app-dark-button [class]="isCollapsed() ? 'theme-button-collapsed' : 'theme-button'" />
</mat-nav-list>

