<div class="video-row">
  <div class="video-icon">
    <mat-icon>smart_display</mat-icon>
  </div>

  <div class="video-info">
    <div class="video-details">
      <div class="video-title">{{ video().title }}</div>
      <div class="video-meta">
        <div class="meta-chip">{{ video().channel }}</div>
      </div>
    </div>

    <div class="video-actions">
      <a [href]="'https://www.youtube.com/watch?v=' + video()._id" target="_blank" rel="noopener noreferrer"
        class="action-btn youtube-btn">
        <mat-icon>open_in_new</mat-icon>
        <span>Open in YouTube</span>
      </a>

      <button class="action-btn share-btn" (click)="viewVideoDetails()">
        <mat-icon>visibility</mat-icon>
        <span>View Video Details</span>
      </button>

    </div>
  </div>

</div>