.summary-widgets {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.summary-widgets > * {
  flex: 1 1 350px;
  max-width: 100%; 
}

.video-widgets {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.video-widgets > * {
  flex: 1 1 700px;
  max-width: 100%;
}

.chart-widgets {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.chart-widgets > * {
  flex: 1 1 700px;
  max-width: 100%;
}