<mat-toolbar color="primary">
  <h1>Trending Videos</h1>
</mat-toolbar>

<mat-card>
  <mat-card-content>

    <div class="actions-header" style="margin-bottom: 16px;">
      <button mat-raised-button color="primary" (click)="getTrendingVideos()" [disabled]="isLoading()">
        Fetch current trending videos
      </button>
    </div>

    @if (isLoading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }

    @if (errorMessage()) {
    <div class="error-container">
      <mat-icon color="warn">error_outline</mat-icon>
      <p>{{ errorMessage() }}</p>
    </div>
    }

    @if (paginatedData().items.length > 0) {

    <app-videos-table [paginated]="paginatedData()" [pageSize]="10" [pageSizeOptions]="[10]"
      (openVideo)="onViewDetails($event)">
    </app-videos-table>

    } @else if (!isLoading() && !errorMessage()) {
    <div style="padding: 2rem; text-align: center; color: gray;">
      <p>No trending data loaded. Click fetch to start.</p>
    </div>
    }

  </mat-card-content>
</mat-card>