.categories-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  gap: 8px;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 12px;
  padding: 8px 0;

  /* ascunde scrollbar-ul */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.category-card {
  min-width: 220px;
  height: 130px;
  background: #494848;
  color: white;
  border-radius: 14px;
  padding: 14px 18px;
  cursor: pointer;
  transition: 0.25s ease;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centrăm vertical */
  gap: 6px; /* spațiu între rânduri */

  font-family: 'Inter', sans-serif;

  h3,
  mat-card-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    opacity: 0.9;
  }
}

.category-card:hover {
  transform: translateY(-2px);
  background: #333;
}

.category-card.selected {
  outline: 3px solid #ff3b3b;
  transform: scale(1.03);
}

.arrow-btn {
  background: #494848;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: #333;
    transform: scale(1.1);
  }

  mat-icon {
    font-size: 28px;
  }
}

.left {
  margin-right: 4px;
}

.right {
  margin-left: 4px;
}
