<mat-card class="kpi-card" [class.first]=first()>
  <div class="first-position">#1</div>
  <mat-card-header>
    <mat-card-title class="kpi-title"> Australian Shepherd</mat-card-title>
    <mat-card-subtitle>Herding group</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <mat-chip class="sentiment-details positive">
      <mat-icon class="positive-text">arrow_outward</mat-icon>
      <span class="positive-text">Origin: United States</span>
    </mat-chip>
  </mat-card-actions>
</mat-card>
