.sentiment-details {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.mat-mdc-card-actions {
  justify-content: center;
}

.mat-icon {
  vertical-align: middle;
  font-size: 1.25rem;
}

.positive {
  background-color: #b1f1b1 !important;
}

.positive-text {
  color: #01871c;
  font-weight: bold;
}

.negative {
  color: #DD4046 !important;
}

.neutral {
  color: #F3BC24 !important;
}

.first {
  scale: 1.15;
}

.first-position {
  font-weight: bold;
  margin: 0.5rem auto;
  padding: 0.5rem;
  font-size: 1.25rem;
  background-color: #b1f1b1;
  color: #01871c;
  width: fit-content;
  border-radius: 8px;
}
