<mat-card class="kpi-card" [class.first]=first() (click)="collapseDetails()">
  @if (first()) {
    <div class="first-position">#1</div>
  }

  @if (second()) {
    <div class="second-position">#2</div>
  }

  @if (third()) {
    <div class="third-position">#3</div>
  }
  <mat-card-header>
    <mat-card-title class="kpi-title">{{ video().title }}</mat-card-title>
    <mat-card-subtitle>{{ video().channel }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>

    <mat-chip class="sentiment-details"
              [class.positive]="video().avgSentiment > 0.75"
              [class.neutral]="video().avgSentiment > 0.25 && video().avgSentiment <= 0.75"
              [class.negative]="video().avgSentiment <= 0.25">

      <span [class.positive-text]="video().avgSentiment > 0.75"
            [class.neutral-text]="video().avgSentiment > 0.25 && video().avgSentiment <= 0.75"
            [class.negative-text]="video().avgSentiment <= 0.25">
        {{ video().avgSentiment }}
        {{ video().avgSentiment > 0.75 ? 'Positive' : (video().avgSentiment > 0.25 ? 'Neutral' : 'Negative') }}
      </span>

    </mat-chip>
  </mat-card-actions>
</mat-card>
