.kpi-card {
  height: 100%;
  display: flex;
  justify-content: center;
}

.kpi-title {
  font-weight: 500;
}

.kpi-title-container {
  display: flex;
  justify-content: space-between;
}

.kpi-value {
  font-size: 24px;
  font-weight: 600;
}

.kpi-details {
  margin-top: 8px;
  font-size: 14px;
  color: gray;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.neutral {
  color: orange;
}
